.recipeDetailsPage {
    padding: 20px;
  }
  
  .recipeDetails {
    margin-top: 20px;
  }
  
  .recipeDetails h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipeDetails p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .recipeDetails img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  